@import url("https://infinitesmasher.github.io/The-MegaMod/mods/css/slider.css");
@import url("https://infinitesmasher.github.io/The-MegaMod/css/icons.css");
@import url("https://infinitesmasher.github.io/The-MegaMod/mods/css/profile.css");

/* Centered (Vertical) Checkbox Labels */ 
.ss_checkbox.label {
	padding-top: .29em !important;
}

/* MegaMod UI Stuff */
#popupInnards {
	min-height: 10em;
}

.grid-column-5-custom {
	grid-template-columns: repeat(4, 1fr) 0.25fr;
}

@keyframes rotating {
  from {
	 -ms-transform: rotate(0deg);
	 -moz-transform: rotate(0deg);
	 -webkit-transform: rotate(0deg);
	 -o-transform: rotate(0deg);
	 transform: rotate(0deg);
  }
  to {
	 -ms-transform: rotate(360deg);
	 -moz-transform: rotate(360deg);
	 -webkit-transform: rotate(360deg);
	 -o-transform: rotate(360deg);
	 transform: rotate(360deg);
  }
}

.ss_bigtab.settingstab.selected i,
.ss_bigtab.settingstab.selected img {
	opacity: 1;
	animation: rotating 2s linear infinite;
	filter: none !important;
}

#mod_button.selected i {
	opacity: 1;
	filter: drop-shadow(.08em .08em 0 rgb(0 0 0 / 30%));
}

#mod_button i {
	color: var(--ss-white);
	opacity: 0.5;
	scale: 115%;
}

#mod_button:hover:not(.selected) i {
	opacity: 0.75;
}

#mainFooter,
.main-footer {
	 width: 120%;
}

#mainFooter .serverIcon {
    width: 1.25em;
    opacity: .7;
    margin-bottom: -0.35em;
}

.ss_button_as_text.modServer {
    padding-left: 0;
    padding-right: 0;
}

.ss_bigtab.settingstab {
	min-width: 3em;
	color: var(--ss-white);
	cursor: default;
}

.ss_bigtab.settingstab i,
.ss_bigtab.settingstab img {
	opacity: 0.5;
	scale: 105%;
}

.ss_bigtab.settingstab:hover:not(.selected) i,
.ss_bigtab.settingstab:hover:not(.selected) img {
	transition: all 1s ease-out;
	transform: rotate(360deg);
}

.modsettings-icon {
	color: var(--ss-blue4);
	margin-left: 0.4em;
	transition: all .2s ease-out;
	transform: scale(1);
}

.modsettings-icon:hover {
	opacity: 0.75;
	transition: all .4s ease-out;
	transform: rotate(180deg) scale(1.2);
}

.has-settings {
	display: flex;
	align-items: center;
}

.mod-msg {
	padding: 1em;
	border: .2em solid;
	background: var(--ss-blue00);
	width: 36.5em;
	color: var(--ss-blue5);
	margin-bottom: 0em !important;
}

.mod-msg h4 {
	margin-top: 0;
	margin-bottom: 0;
}

.mod-msg p { 
	margin-top: .5em;
	margin-bottom: .5em;
}

.mod-msg.reload h4,
.mod-msg.reload button:not(.dismiss_btn),
.mod-msg.info h4 {
	font-size: .85em;
}

.mod-msg.reload p,
.mod-msg.info p {
	font-size: .75em;
}
.mod-msg.reload b {
    font-size: 1em;
}

.mod-msg.reload a,
.mod-msg.reload i:not(.fa-times),
.mod-msg.info a,
.mod-msg.info i { 
	font-size: .95em;
}

.mod-msg.reload i.fa-times {
    font-size: 1.7em;
}

#settings_mods .margin-bottom-none {
	margin-bottom: .5em !important;
}

#settings_modSettings {
	min-height: 25em;
}

.mod-msg.reload {
	color: red;
}

.mod-msg.reload h4 {
	color: red !important;
}

.mod-msg.reload .ss_button {
	background-color: #E81616;
	border-color: #881A1A;
	box-shadow: var(--ss-box-shadow-1),var(--ss-btn-dark-bevel) #d11414,var(--ss-btn-light-bevel) var(--ss-red0);
}

.mod-msg p i:hover,
.mod-desc i:hover {
	transition: all .2s ease-out;
	transform: scale(1.2);
}


.dismiss_btn {
	color: red;
	position: absolute;
	right: 3.7em;
	padding: 0;
	background-color: transparent;
	border: none;
	width: 2em;
	height: 2em;
	text-shadow: var(--ss-btn-common-txt-shadow);
	transition: all .2s ease-in-out;
}

.dismiss_btn:hover {
	text-shadow: var(--ss-btn-dark-shadow) !important;
}

.no-additional-settings {
	font-family: 'Sigmar One';
	margin-top: -1em !important;
	padding-bottom: 1em !important;
}

@keyframes icon-alert-anim {
  0% {
	 transform: scale(1);
  }
  10% {
	 transform: scale(1.2) rotate(10deg);
	 color: var(--ss-white) !important;
  }
  20% {
	 transform: scale(1);
  }
  40% {
	 transform: scale(1.2) rotate(-10deg);
	 color: var(--ss-white) !important;
  }
  60% {
	 transform: scale(1);
  }
  100% {
	 transform: scale(1);
  }
}

.icon-alert {
  transition: all .2s;
  animation: 1.5s alternate icon-alert-anim;
}

.discord-logo {
	color: #5539CC;
}

#legacyMode_weaponSelect {
	width: 93%;
}

/* Killstreak Info */
#killTicker { top: 13em !important; }

/* Random Color Button */
#equip_free_colors button {
	margin-left: auto;
	margin-right: auto;
}

#themeDesc {
	color: var(--ss-blue5);
	background: var(--ss-blue00);
	border: .2em solid var(--ss-blue5);
	padding: .2em .5em .2em .5em !important;
	margin-top: 0em;
	margin-bottom: 0em;
}

.changelog-link {
	opacity: .85;
	text-decoration: underline;
}

.changelog-link:hover {
	color: var(--ss-white);
}


/* Challenge Icon - Lazy hack to make it invisible! :D */
.player-challenge-single .player-challenge-tool-tip.status {
	display: none;
}


/* Popup Tables */
.megamod-popup h1 {
	text-shadow: var(--ss-space-xs) var(--ss-space-xs) var(--ss-blue4);
}

.megamod-popup h3 {
	color: var(--ss-blue5);
}

.megamod-popup h1,
.megamod-popup h3 {
	margin-bottom: 0em;
}

.megamod-popup h1,
.megamod-popup p {
	margin-top: 0em;
}

.megamod-popup table {
	width: 100%;
	background-color: var(--ss-blue5);
}

.megamod-popup tbody tr:last-child td:first-child {
	border-bottom-left-radius: var(--ss-space-md);
}

.megamod-popup tbody tr:last-child td:last-child {
	border-bottom-right-radius: var(--ss-space-md);
}

.megamod-popup tbody tr td:first-child,
.megamod-popup tbody tr td:nth-child(2) {
	width: 1%;
	white-space: nowrap;
}

.megamod-popup th {
	position: sticky;
	top: 0;
	background: var(--ss-blue3);
	color: var(--ss-white);
	padding: 3px;
	font-family: 'Sigmar One';
	z-index: 1;
	border-bottom: 2px solid var(--ss-blue5);
}

.megamod-popup th i {
	color: var(--ss-white);
}

.megamod-popup .table-div {
	width: 100%;
	border-radius: var(--ss-space-md);
	overflow-y: scroll;
	outline: 1px solid var(--ss-blue5);
	background:  var(--ss-blue5);
}

.megamod-popup tbody tr:nth-child(even) {
	background: var(--ss-blue1);
}

.megamod-popup tbody tr:nth-child(odd) {
	background: var(--ss-blue6);
}

.megamod-popup:not(#mapPopup) tbody tr:hover {
	opacity: .7;
}

.megamod-popup tbody tr td {
	color: var(--ss-blue5);
	font-size: .85em;
	padding: .6em .5em .6em .5em;
}

.megamod-popup th:first-child {
	border-top-left-radius: calc(var(--ss-space-md) * 0.75);
}

.megamod-popup th:last-child {
	border-top-right-radius: calc(var(--ss-space-md) * 0.75);
}

/* Chat Upgrade Icons */
.chat-icon {
	display: none;
}

/* Info Buttons */
.info-btn {
	color: var(--ss-blue5);
	text-shadow: none;
}

.info-btn:hover {
	color: white;
}

@keyframes icon-alert-idle {
  50% {
	 transform: scale(1);
  }
  51.25% {
	 transform: scale(1.2) rotate(10deg);
  }
  52.5% {
	 transform: scale(1);
  }
  55% {
	 transform: scale(1.2) rotate(-10deg);
  }
  57.5% {
	 transform: scale(1);
  }
  100% {
	 transform: scale(1);
  }
}

.info-btn {
	transition: all .2s linear;
	transform: scale(1.0);
}

.info-btn:hover {
	transform: scale(1.3);
}

/* Hides chw in phootbooth (blocks photobooth spin buttons) */
.photo-booth #chw-home {
    display: none;
}

#modUpdatedPopup h3 {
	margin-bottom: .25em;
}

#modUpdatedPopup .changelog_content {
	height: fit-content;
	max-height: 20em;
	text-align: left;
}

#modUpdatedPopup .changelog_content h3 {
    color: var(--ss-blue3);
    margin: 0;
    padding: 0;
    font-family: Nunito,sans-serif;
    font-weight: 700;
}

#modUpdatedPopup .popup_sm_content {
    min-width: 35em !important;
}

/* Stops Side Panel from overlapping Photobooth Spin dropdowns*/
.equip-screen.photo-booth .main-aside {
	z-index: 0 !important;
}

.ss_color_picker {
	border-radius: var(--ss-space-md);
	background: var(--ss-blue5);
    border: .05em solid var(--ss-blue5);
    width: 7em;
    height: 4em;
}
.ss_color_picker::-webkit-color-swatch-wrapper {
	padding-top: .17em;
    padding-bottom: .17em;
}
.ss_color_picker::-webkit-color-swatch {
	border: none;
    border-radius: var(--ss-space-sm);
}
.ss_color_picker::-webkit-color-swatch:hover,
.ss_color_picker:focus::-webkit-color-swatch {
    filter: brightness(0.9);
}

.color-picker-wrapper {
	position: relative;
	display: inline-block;
}
  
.icon-bg {
	position: absolute;
	width: 2em;
	height: 2em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(12, 87, 111, .75);
	border-radius: 50%;
	align-content: center;
	pointer-events: none;
	z-index: 1;
}
.icon-bg i {
	transform: translate(50%, 5%);
	color: white;
}

.btn_serverselect {
    top: -2.15em;
    left: 3.5em;
	width: 5.5em !important;
    position: fixed;
}

.btn_serverselect .option-box {
    right: 0;
}

#ingame-notif {
	top: 5em !important;
}


/* Better Eggforce */
#banPlayerPopup.wider {
	width: 30em;
}

#banPlayerPopup.wider .popup_sm_content {
	width: 100% !important;
}

.playeraction_details:hover {
    color: var(--ss-white) !important;
}

.watch_icon {
    margin-top: .35em;
    margin-left: -1.4em;
    font-size: 1.4em;
}

.gameHistory_btn {
	width: 3.7em !important;
	height: 2.07em;
	font-size: 1.75em;
	position: absolute;
	border-width: .12em;
    margin-left: -4.2em;
}

.banHistory_btn {
	width: 6.4em !important;
	height: 1.85em;
	font-size: 2em;
	position: absolute;
	border-width: .12em;
    margin-left: -3.68em;
    bottom: 2.1em;
}

#banHistoryPopup {
    background-image: none;
    border: 0;
	width: 80em !important;
    padding: 0
}

#banHistoryPopup #popupInnards {
    margin-top: 2em;
    min-height: auto
}

#banHistoryPopup .play-panel-panels {
    width: 80em !important;
}

#banHistoryPopup .ban-table tr.selected {
    background: var(--ss-yolk) !important;
}

#banHistoryPopup .ban-table tr.selected td {
    color: var(--ss-white) !important;
}

#banHistoryPopup .table-div {
    max-height: 10em;
}

#banHistoryPopup .table-div.ban-table {
    max-height: 17em;
}


#banHistoryPopup #private_maps #mapText {
    font-size: 1em;
    line-height: .4em;
    color: var(--ss-white);
    width: 100%;
    text-wrap-mode: wrap;
}

#banHistoryPopup #private_maps {
    width: 10em;
    height: 6em;
    text-align: center;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
}

#banHistoryPopup #private_maps .map-avg-size-icon {
    font-size: .7em;
}

#banHistoryPopup td {
    text-align: center;
}

#banHistoryPopup .gameCode {
	color: rgb(0, 175, 0);
}
#banHistoryPopup .gameCode:hover {
	color: green;
}
#banHistoryPopup .gameCode.closed {
	color: red;
}
#banHistoryPopup .gameCode.closed:hover {
	color: rgb(175, 0, 0);
}

/* Container for tag area and input */
.tag-container {
  	display: flex;
  	flex-direction: column;
  	gap: 8px;
}

/* Scrollable tag area */
.tag-box {
  	border-radius: var(--ss-space-lg) !important;
  	border: var(--ss-common-border-width) solid var(--ss-blue5) !important;
  	background: var(--ss-blue1);
  	padding: 5px;
  	max-height: 120px;
  	overflow-y: auto;
  	display: flex;
  	flex-wrap: wrap;
  	gap: 4px;
  	cursor: text;
  	margin-right: .7em;
}

/* Individual tag */
.tag {
  	background: var(--ss-blue3);
  	color: white;
  	padding: 2px 6px;
  	border-radius: var(--ss-space-md);
  	font-size: 13px;
  	display: inline-flex;
  	align-items: center;
  	gap: 6px;
}

/* Trash icon and label */
.tag-label {
  	display: inline-block;
}

.tag-remove {
  	cursor: pointer;
  	display: inline-flex;
  	align-items: center;
}

.tag-remove i {
  	font-size: 0.7em;
  	color: var(--ss-white);
}

.tag-remove i:hover {
  	color: var(--ss-red);
}

/* Disabled style */
.tag-box.disabled {
  	pointer-events: none;
  	opacity: 0.6;
}

.tag-input {
    margin-right: .6em !important;
}

/* Skybox Preview */
#skyboxPreview {
	display: grid;
	grid-template-columns: repeat(4, 64px);
	grid-template-rows: repeat(3, 64px);
	gap: 0;
	margin-top: 0em;
	margin-bottom: 0em;
	width: fit-content;
	image-rendering: pixelated;
	line-height: 0;
	transform: scale(1);
}
#skyboxPreview img {
	width: 64px;
	height: 64px;
	object-fit: cover;
	display: block;
}

#skyboxPreview img:nth-child(1) {
	box-shadow:
		-0.2em 0 0 0 var(--ss-blue5),  /* left */
		 0.2em 0 0 0 var(--ss-blue5);  /* right */
}
#skyboxPreview img:nth-child(2) {
	box-shadow:
		 0 0.2em 0 0 var(--ss-blue5),  /* bottom */
		 0 -0.2em 0 0 var(--ss-blue5); /* top */
}
#skyboxPreview img:nth-child(4) {
	box-shadow:
		0 -0.2em 0 0 var(--ss-blue5),  /* top */
		0 0.2em 0 0 var(--ss-blue5);   /* bottom */
}
#skyboxPreview img:nth-child(5) {
	box-shadow:
		0 -0.2em 0 0 var(--ss-blue5),  /* top */
		0 0.2em 0 0 var(--ss-blue5);   /* bottom */
}
#skyboxPreview img:nth-child(6) {
	box-shadow:
		-0.2em 0 0 0 var(--ss-blue5),  /* left */
		0.2em 0 0 0 var(--ss-blue5);   /* right */
}
#skyboxPreview img:nth-child(1) {
	border-top: 0.2em solid var(--ss-blue5);
}
#skyboxPreview img:nth-child(6) {
	border-bottom: 0.2em solid var(--ss-blue5);
}
#skyboxPreview img:nth-child(2) {
	border-left: 0.2em solid var(--ss-blue5);
}
#skyboxPreview img:nth-child(5) {
	border-right: 0.2em solid var(--ss-blue5);
}
#skyboxPreview img:nth-child(2) {
	border-top-left-radius: var(--ss-space-md);
	border-bottom-left-radius: var(--ss-space-md);
}
#skyboxPreview img:nth-child(5) {
	border-top-right-radius: var(--ss-space-md);
	border-bottom-right-radius: var(--ss-space-md);
}
#skyboxPreview img:nth-child(1) {
	border-top-left-radius: var(--ss-space-md);
	border-top-right-radius: var(--ss-space-md);
}
#skyboxPreview img:nth-child(6) {
	border-bottom-left-radius: var(--ss-space-md);
	border-bottom-right-radius: var(--ss-space-md);
}

.mod-container {
    min-height: 255px;
	overflow: hidden;
}

.pagination-controls {
	display: flex;
  	justify-content: center;
 	align-items: center;
  	gap: 0.75rem;
  	margin-top: 1rem;
}

.pagination-button {
  	background: none;
  	border: none;
  	font-size: 1.2rem;
  	cursor: pointer;
  	color: var(--ss-blue5);
  	scale: 1.3;
}

.pagination-button:disabled {
  	opacity: 0.4;
  	cursor: not-allowed;
}

.dot-icon {
  	cursor: pointer;
  	font-size: 1.1rem;
  	color: var(--ss-blue5);
}

.pagination-button i,
.dot-icon i {
  	transition: transform 0.2s;
}

.dot-icon:hover i:not(.selected) {
  	transform: scale(1.1);
  	color: var(--ss-yolk);
}

.pagination-button:not(:disabled):hover i {
  	transform: scale(1.2);
  	color: var(--ss-white);
}

.dot-icon .selected {
  	color: var(--ss-yolk);
}


.slide-left-enter-active, .slide-left-leave-active,
.slide-right-enter-active, .slide-right-leave-active {
  	transition: all 0.3s ease;
  	width: 100%;
}

.slide-left-enter-from {
  	transform: translateX(100%);
  	opacity: 0;
}
.slide-left-leave-to {
  	transform: translateX(-100%);
  	opacity: 0;
}

.slide-right-enter-from {
  	transform: translateX(-100%);
  	opacity: 0;
}
.slide-right-leave-to {
  	transform: translateX(100%);
  	opacity: 0;
}

.slide-left-enter-to, .slide-left-leave-from,
.slide-right-enter-to, .slide-right-leave-from {
  	transform: translateX(0%);
  	opacity: 1;
}

/* Chat Blacklist Highlight */
.chat-highlight {
	color: red;
	text-decoration: underline solid red;
	font-weight: bolder;
}

.chat-item mark {
	color: red;
	border-radius: var(--ss-space-sm);
}

/* Chat Translate */
.translate-icon {
    margin-left: 5px;
    cursor: pointer;
}

.translate-icon.translated {
    color: var(--ss-green1);
}

.translate-icon.original {
    color: var(--ss-red);
}

/* Chat Game Code */
.game-code-link {
	font-weight: bolder;
	color: var(--ss-yolk);
}
.game-code-link:hover {
	color: inherit;
}

/* Chick'n Winner Owned Item */
.chw-reward-amount.ownedItem h2 {
    bottom: .2em;
}

/* Player List/Kill Feed Weapon Icons, Kill Distance, and Spatula Icon - Hidden by default */
.weapon-icon,
.kill-dist,
.spatula-icon {
	display: none;
}