
#ss_background {
	background: url('https://raw.githubusercontent.com/1nf1n1t3Sm4sh3r/mmTest/main/themes/img/meno/bg.png') center center no-repeat !important;
	background-size: cover !important;
}
:root {
	--select-border: #777;
	--select-focus: blue;
	--select-arrow: var(--select-border);

	--ss-transparent: #00000000;
	--ss-black: #000;
	--ss-adblocker-text: #003449;
	--ss-white: #FFFFFF;
	--ss-offwhite: #FFF3E4;
	--ss-yellow0:#F7FFC1;
	--ss-yellow: #FAF179;
	--ss-yolk0: #ffffff;
	--ss-yolk: #4d0000;
	--ss-yolk2: #ffffff;
	--ss-red0: #e29092;
	--ss-red: #d15354;
	--ss-red2: #801919;
	--ss-egg-org: #EE2524;
	--ss-red-bright: #EF3C39;
	--ss-pink: #EC008C;
	--ss-pink1: #b9006e;
	--ss-pink-light: #ff3aaf;
	--ss-pink-dark: #a7098c;
	--ss-brown: #000000;
	--ss-blue00: #ff0000;
	--ss-blue0: #ff0000;
	--ss-blue1: #ff0000;
	--ss-blue2: #000000;
	--ss-blue3: #6e0000;
	--ss-blue4: #000000;
	--ss-blue5: #000000;
	--ss-blue6: #750000;
	--ss-blue7: #000000;
	--ss-blue8: #000000;
	--ss-green0: #ff0000;
	--ss-green1: #000000;
	--ss-green2: #000000;
	--ss-green-login: #13ba65;
	--ss-orange1: #F79520;
	--ss-vip-blue: #000000;
	--ss-vip-pink: #FF5AF5;
	--ss-vip-brown: #9F5600;
	--ss-vip-yellow: #FFFC00;
	--ss-vip-red: #EE2B2D;
	--ss-vip-purple: #40008F;
	--ss-vip-gold: linear-gradient(to right, #D1A943, #CFCDAF, #CC8630, #D1AA44, #CC8630);
	--ss-gold: #FED838;
	--ss-clear: rgba(255, 255, 255, 0);
	--ss-blue2clear: rgba(94, 186, 217, 0);
	--ss-blue2alpha7: rgba(94, 186, 217, .7);
	--ss-white-60: rgba(255,255,255,.6);
	--ss-white-90: rgba(255,255,255,.9);
	--ss-twitch: #6441a5;
    --twitch-color: #6441a5;
	--twitch-yellow: #FFFE61;
	--twitch-pink: #F00DC9;
	--twitch-dk-pink: #c00aa0;
	--twitch-lt-purple: #9146FF;
	--twitch-dk-purple: #40008F;
	--twitch-xtr-dk-purple: #1e0043;


	/* Redsign colors */
	--ss-orange: #F7941D;
	--ss-brown-2: #894B00;
	--ss-vip: #FFF000;
	--ss-red-btn-fill: #E81616;
	--ss-red-btn-outline: #881A1A;

	--ss-limited: #ffb3e8;
	--ss-limited-txt: #ff1bba;
	--ss-premium: #87ec4a;
	--ss-premium-txt: #204908;
	----ss-vip: #fff000;
	--ss-vip-txt: #676000;

	--ss-darkoverlay: rgba(0, 0, 0, 0.6);
	--ss-darkoverlay2: rgba(0, 0, 0, 0.2);
	--ss-lightoverlay: linear-gradient(var(--ss-blue00), var(--ss-blue00));
	--ss-lightbackground: linear-gradient(var(--ss-blue1), var(--ss-blue2) );
	--ss-blueblend1: linear-gradient(#000000, #ff0000);
	--ss-scrollmask1: linear-gradient(var(--ss-blue2clear), var(--ss-blue00));
	--ss-scrollmask2: linear-gradient(rgba(56, 158, 192, 0), #c03838);
	--ss-fieldbg: linear-gradient(#db9191, #ffffff, #ffffff, #ffffff, #ffffff);
	--ss-nugSecs: 3600s;
	--ss-me-player-bg: rgba(247,149,32,.8);

	--ss-team-blue-light: rgb(6 193 255);
	--ss-team-blue-light-trans: rgb(28 54 62 / 80%);
	--ss-team-blue-dark: rgb(32 92 116);
	--ss-team-blue-dark-trans: rgb(4 30 65 / 80%);

	--ss-team-red-light: rgb(237 51 36);
	--ss-team-red-light-trans: rgb(111 24 17 / 80%);
	--ss-team-red-dark: rgb(68 13 10);
	--ss-team-red-dark-trans: rgb(35 6 4 / 80%);

	--ss-big-message-border-color: rgb(0, 0, 0);

	--ss-header-height: 10em;
	--ss-footer-height: 4em;
	--ss-main-width: 90em;
	--ss-min-width: 68em;
	
	--ss-space-xxxxl: calc(var(--ss-space-lg)*4);
	--ss-space-xxl: 2.3em;
	--ss-space-xl: 1.5em;
	--ss-space-lg: 1em;
	--ss-space-md: calc(var(--ss-space-lg)/2);
	--ss-space-sm: calc(var(--ss-space-md)/1.5);
	--ss-space-xs: calc(var(--ss-space-sm)/2);
	--ss-space-micro: calc(var(--ss-space-xs)/2);

	--border-radius: 0.4em;
	--ss-border-radius-sm: 0.2em;
	--ss-common-border-width: .2em;
	

	/* Element dimensions */
	--ss-logo-width: calc(var(--ss-space-lg)*14);
	--ss-menu-width: calc(var(--ss-logo-width) - var(--ss-space-lg));

	--ss-main-sidebar-width: 16em;
	--ss-sidebar-width: calc(var(--ss-space-lg)*18.2);
	--ss-aside-panel-width: 20em;

	--ss-item-mask-height: calc(var(--ss-space-lg)*4);
	--ss-item-mask-width: calc(var(--ss-aside-panel-width) - 1.3em);
	--ss-item-box: calc(var(--ss-space-lg)*5.5);

	--ss-account-panel-height: calc(var(--ss-space-lg)*4);

	--ss-chat-wrapper-width: 14.5em;
	--ss--chat-height: 14.5em;

	--ss-media-social-width: 17.7em;

	--paused-ui-scale: .6;
	--paused-ui-vip-scale: .9;

	--chw-bubble-width: 9em;
	--chw-bubble-height: 3.3em;

	--home-screen-r-padding: .68em;

	/* shadows */
	--ss-box-shadow-1:  .16em .16em 0 rgb(189 11 11 / 50%);
	--ss-box-shadow-2: .15em .15em 0 rgb(189 11 11 / 90%);
	--ss-box-shadow-3: .15em .15em 0 rgb(217 17 17 / 90%);
	--ss-text-shadow-1: .1em .1em 0 rgb(189 11 11 / 80%);

	--ss-shadow: rgba(0,0,0,.4);
	--ss-blueshadow: #710a0a87;
	--ss-btn-common-txt-shadow: .1em .1em 0 rgb(0 0 0 / 30%);
	--ss-btn-common-txt-shadow-blur: .1em .1em .5em rgb(0 0 0 / 30%);

	--ss-shadow-filter: drop-shadow(var(--ss-btn-common-txt-shadow));


	/* button bevel */
	--ss-btn-light-bevel: inset 0 .15em .2em;
	--ss-btn-dark-bevel: inset -.1em -.15em .1em;

	
	--ss-border-blue5: var(--ss-common-border-width) solid var(--ss-blue5);

	--ss-type-icon-size: 2.8em;

	--ss-equip-icon-size: 4em;

	--ss-media-stats-height: 30.5em;
}
.text_blue8 {
	color: black !important;
	border: 1px solid black;
	border-radius: 2px;
	background: #ff000052;
}
.text_blue3 {
	color: red !important;
}
#gameDescription h2 {
	color: red;
}
#gameDescription h1 {
	color: white;
}
#gameDescription {
  background: maroon;
}
.option-box {
	padding: var(--ss-space-md) 0;
    bottom: 4em;
    right: -50%;
	z-index: 1;
	border: var(--ss-common-border-width) solid var(--ss-blue5);
	box-shadow: 0.26em 0.26em 0 rgb(189 11 11 / 50%);
}
.bevel_blue_light {
	box-shadow:
	var(--ss-box-shadow-1),
	var(--ss-btn-dark-bevel) rgb(230 0 0),
	var(--ss-btn-light-bevel) rgb(255 103 103);
}

.bevel_blue {
	box-shadow:
	var(--ss-box-shadow-1),
	var(--ss-btn-dark-bevel) rgb(141 8 8),
	var(--ss-btn-light-bevel) rgb(230 0 0);
}
.bevel_yolk {
	box-shadow:
		var(--ss-box-shadow-1),
		var(--ss-btn-dark-bevel) red,
		var(--ss-btn-light-bevel) maroon;
}
.main-menu-button svg path:nth-child(1) {
	fill: black !important;
}
.stat-wrapper .stat:nth-child(even) > div {
	background-color: #510000;
}
#progress-container {
	background: linear-gradient(#3a0000, #810000) !important;
}
.bevel_green {
    box-shadow: var(--ss-box-shadow-1),
	var(--ss-btn-dark-bevel) rgb(140 14 14),
	var(--ss-btn-light-bevel) var(--ss-green0);
}
.ss_field {
	box-shadow: inset -0.3em .3em .03em rgb(255 255 255), 0.2em 0.2em .01em var(--ss-blue3);
}
.chw-circular-timer-container-shadow {
    background: rgb(189 11 11 / 50%);
}
#limited-un-vaulted h4 {
	color: white !important;
}
.is-paused .pause-ui-element {
	background-color: rgb(111 12 12 / 50%);
    border: var(--ss-common-border-width) solid var(--ss-blue5);
    bottom: 0;
    width: var(--ss-chat-wrapper-width);
    height: var(--ss--chat-height);
}
#inGameUI {
    padding: 1em;
	background-color: rgb(111 12 12 / 50%);
    border: var(--ss-common-border-width) solid var(--ss-blue5);
}
#inGameUI h5 {
	color: #fb0000 !important;
}
.pause-bg {
	background: linear-gradient(#210000, #b00101ba);
}
.weapon_img {
	background: linear-gradient(45deg, #830101, #000000) !important;
	border-color: black;
}
.btn-respawn.bevel_yolk {
	box-shadow: .15em .15em 0 rgba(0, 0, 0,.3), var(--ss-btn-dark-bevel) black, var(--ss-btn-light-bevel) #860101;
}
.btn-respawn.bevel_red {
	box-shadow: .15em .15em 0 rgba(0, 0, 0,.3), var(--ss-btn-dark-bevel) rgb(0 0 0), var(--ss-btn-light-bevel) maroon;
	background: #5a0000;
}
.btn-respawn.bevel_blue {
	box-shadow: .15em .15em 0 rgba(0, 0, 0,.3), var(--ss-btn-dark-bevel) rgb(141 8 8), var(--ss-btn-light-bevel) rgb(0 0 0);
}
.bevel_red {
	box-shadow: 
		var(--ss-box-shadow-1),
		var(--ss-btn-dark-bevel) rgb(0 0 0),
		var(--ss-btn-light-bevel) #3a0606;
	background: #850000 !important;
}
.popup_window {
	z-index: 2000;
	position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--ss-space-lg);
    color: var(--ss-white);
	background: linear-gradient(#920101,#2a0000) no-repeat;
	border: var(--ss-common-border-width) solid var(--ss-blue5);
}
#chatIn {
	color: red !important;
}
.pause-screen-btn-spectate {
	box-shadow: .15em .15em 0 rgba(0, 0, 0,.3), var(--ss-btn-dark-bevel) rgb(141 8 8), var(--ss-btn-light-bevel) rgb(230 0 0) !important;
}
.mobile-img {
	display: none;
}
#best_streak_container h1 {
	margin: 0; padding: 0;
	display: inline;

	text-shadow: var(--ss-space-micro) var(--ss-space-micro) var(--ss-shadow);

	font-family: 'Nunito', sans-serif !important;
	font-size: 2.5em !important;
	color: var(--ss-white) !important;
	font-weight: bold !important;
	text-transform: lowercase;

	padding-left: 1.5em;
	padding-top: 0em;

	background-image: url('https://raw.githubusercontent.com/1nf1n1t3Sm4sh3r/mmTest/main/themes/img/meno/logo.png');
    background-position: left center;
	background-size: contain;
    background-repeat: no-repeat;
}
.playerSlot-player-is-me {
	background: url('https://raw.githubusercontent.com/1nf1n1t3Sm4sh3r/mmTest/main/themes/img/meno/bg.png') center center no-repeat !important;
	background-size: cover;
}
.account_eggs div {
	background: url('https://raw.githubusercontent.com/1nf1n1t3Sm4sh3r/mmTest/main/themes/img/meno/logo.png') center center no-repeat !important;
	background-size: contain !important;
	margin-right: 3px;
}

.egg_icon {
	height: 1.6em;
	margin: var(--ss-space-micro) var(--ss-space-sm) 0 0;
	visibility: hidden;
}

#maskmiddle {
	background: url('https://raw.githubusercontent.com/1nf1n1t3Sm4sh3r/mmTest/main/themes/img/meno/scope.png') center center no-repeat;
	background-size: contain;
	width: 100vh;
	height: 100vh;
}
.crosshair.normal {
	left: calc(50% - 0.15em);
	background: linear-gradient(darkred, red);
	width: 0.3em;
}

.healthYolk {
	fill: #8f0000;
}

.profile-badge-container .info-btn {
	color: var(--ss-blue3);
}