#ss_background, .playerSlot-player-is-me {
	background: url('https://raw.githubusercontent.com/1nf1n1t3Sm4sh3r/mmTest/main/themes/img/novo_bg1.png') no-repeat center center fixed;
	background-size: cover !important;
}
/* ----------------------------------------------------------------- Global -- */

:root {
	--select-border: #777;
	--select-focus: blue;
	--select-arrow: var(--select-border);

	--ss-transparent: #00000000;
	--ss-black: #000;
	--ss-adblocker-text: #003449;
	--ss-white: #FFFFFF;
	--ss-offwhite: #FFF3E4;
	--ss-yellow0:#F7FFC1;
	--ss-yellow: #FAF179;
	--ss-yolk0: #ffda00;
	--ss-yolk: #be9000;
	--ss-yolk2: #725600;
	--ss-red0: #fcff00;
	--ss-red: #ffcf00;
	--ss-red2: #000000;
	--ss-egg-org: #EE2524;
	--ss-red-bright: #370100;
	--ss-pink: #EC008C;
	--ss-pink1: #b9006e;
	--ss-pink-light: #ff3aaf;
	--ss-pink-dark: #a7098c;
	--ss-brown: #000000;
	--ss-blue00: #000000;
	--ss-blue0: #000000;
	--ss-blue1: #3b3b3b;
	--ss-blue2: #ffcd00;
	--ss-blue3: #000000;
	--ss-blue4: #000000;
	--ss-blue5: #ffe700;
	--ss-blue6: #4c4c4c;
	--ss-blue7: #2d2d2d;
	--ss-blue8: #ffcd00;
	--ss-green0: #00000000;
	--ss-green1: #000000;
	--ss-green2: #00000000;
	--ss-green-login: #13ba65;
	--ss-orange1: #F79520;
	--ss-vip-blue: #0E7FFF;
	--ss-vip-pink: #FF5AF5;
	--ss-vip-brown: #9F5600;
	--ss-vip-yellow: #FFFC00;
	--ss-vip-red: #EE2B2D;
	--ss-vip-purple: #40008F;
	--ss-vip-gold: linear-gradient(to right, #D1A943, #CFCDAF, #CC8630, #D1AA44, #CC8630);
	--ss-gold: #FED838;
	--ss-clear: rgba(255, 255, 255, 0);
	--ss-blue2clear: rgba(94, 186, 217, 0);
	--ss-blue2alpha7: rgba(94, 186, 217, .7);
	--ss-white-60: rgba(255,255,255,.6);
	--ss-white-90: rgba(255,255,255,.9);
	--ss-twitch: #6441a5;
    --twitch-color: #6441a5;
	--twitch-yellow: #FFFE61;
	--twitch-pink: #F00DC9;
	--twitch-dk-pink: #c00aa0;
	--twitch-lt-purple: #9146FF;
	--twitch-dk-purple: #40008F;
	--twitch-xtr-dk-purple: #1e0043;


	/* Redsign colors */
	--ss-orange: #F7941D;
	--ss-brown-2: #000000;
	--ss-vip: #FFF000;
	--ss-red-btn-fill: #e8c516;
	--ss-red-btn-outline: #000000;

	--ss-limited: #ffb3e8;
	--ss-limited-txt: #ff1bba;
	--ss-premium: #87ec4a;
	--ss-premium-txt: #204908;
	----ss-vip: #fff000;
	--ss-vip-txt: #676000;

	--ss-darkoverlay: rgba(0, 0, 0, 0.6);
	--ss-darkoverlay2: rgba(0, 0, 0, 0.2);
	--ss-lightoverlay: linear-gradient(#414141, #acac00);
	--ss-lightbackground: linear-gradient(var(--ss-blue1), var(--ss-blue2) );
	--ss-blueblend1: linear-gradient(#349ec1, #5fbad8);
	--ss-scrollmask1: linear-gradient(var(--ss-blue2clear), var(--ss-blue00));
	--ss-scrollmask2: linear-gradient(rgba(56, 158, 192, 0), #389EC0);
	--ss-fieldbg: linear-gradient(#91CADB, #ffffff, #ffffff, #ffffff, #ffffff);
	--ss-nugSecs: 3600s;
	--ss-me-player-bg: rgba(247,149,32,.8);

	--ss-team-blue-light: rgb(255 236 0);
	--ss-team-blue-light-trans: rgb(0 0 0 / 80%);
	--ss-team-blue-dark: rgb(0 80 113);
	--ss-team-blue-dark-trans: rgb(0 20 48 / 80%);

	--ss-team-red-light: rgb(179 179 179);
	--ss-team-red-light-trans: rgb(85 7 0 / 80%);
	--ss-team-red-dark: rgb(160, 32, 24);
	--ss-team-red-dark-trans: rgb(43 3 0 / 80%);

	--ss-big-message-border-color: rgb(0, 0, 0);

	--ss-header-height: 10em;
	--ss-footer-height: 4em;
	--ss-main-width: 90em;
	--ss-min-width: 68em;
	
	--ss-space-xxxxl: calc(var(--ss-space-lg)*4);
	--ss-space-xxl: 2.3em;
	--ss-space-xl: 1.5em;
	--ss-space-lg: 1em;
	--ss-space-md: calc(var(--ss-space-lg)/2);
	--ss-space-sm: calc(var(--ss-space-md)/1.5);
	--ss-space-xs: calc(var(--ss-space-sm)/2);
	--ss-space-micro: calc(var(--ss-space-xs)/2);

	--border-radius: 0.4em;
	--ss-border-radius-sm: 0.2em;
	--ss-common-border-width: .2em;
	

	/* Element dimensions */
	--ss-logo-width: calc(var(--ss-space-lg)*14);
	--ss-menu-width: calc(var(--ss-logo-width) - var(--ss-space-lg));

	--ss-main-sidebar-width: 16em;
	--ss-sidebar-width: calc(var(--ss-space-lg)*18.2);
	--ss-aside-panel-width: 20em;

	--ss-item-mask-height: calc(var(--ss-space-lg)*4);
	--ss-item-mask-width: calc(var(--ss-aside-panel-width) - 1.3em);
	--ss-item-box: calc(var(--ss-space-lg)*5.5);

	--ss-account-panel-height: calc(var(--ss-space-lg)*4);

	--ss-chat-wrapper-width: 14.5em;
	--ss--chat-height: 14.5em;

	--ss-media-social-width: 17.7em;

	--paused-ui-scale: .6;
	--paused-ui-vip-scale: .9;

	--chw-bubble-width: 9em;
	--chw-bubble-height: 3.3em;

	--home-screen-r-padding: .68em;

	/* shadows */
	--ss-box-shadow-1:  .16em .16em 0 rgb(140 118 7 / 50%);
	--ss-box-shadow-2: .15em .15em 0 rgb(0 0 0 / 90%);
	--ss-box-shadow-3: .15em .15em 0 rgb(0 0 0 / 90%);
	--ss-text-shadow-1: .1em .1em 0 rgb(0 0 0 / 80%);

	--ss-shadow: rgba(0,0,0,.4);
	--ss-blueshadow: #00000087;
	--ss-btn-common-txt-shadow: .1em .1em 0 rgb(0 0 0 / 30%);
	--ss-btn-common-txt-shadow-blur: .1em .1em .5em rgb(0 0 0 / 30%);

	--ss-shadow-filter: drop-shadow(var(--ss-btn-common-txt-shadow));


	/* button bevel */
	--ss-btn-light-bevel: inset 0 .15em .2em;
	--ss-btn-dark-bevel: inset -.1em -.15em .1em;

	
	--ss-border-blue5: var(--ss-common-border-width) solid var(--ss-blue5);

	--ss-type-icon-size: 2.8em;

	--ss-equip-icon-size: 4em;

	--ss-media-stats-height: 30.5em;
}
.bevel_blue_light {
	box-shadow:
	var(--ss-box-shadow-1),
	var(--ss-btn-dark-bevel) rgb(0 173 230 / 0%),
	var(--ss-btn-light-bevel) rgb(103 217 255 / 0%) !important;
}

.bevel_blue {
	box-shadow:
	var(--ss-box-shadow-1),
	var(--ss-btn-dark-bevel) rgb(0 1 1),
	var(--ss-btn-light-bevel) rgb(0 0 0) !important;
}

.bevel_pink {
	border-color: var(--ss-pink);
	transition: all .3s;
}

.bevel_pink:hover {
	background-color: var(--ss-pink1);
}

.bevel_blue.selected, .bevel_blue:active {
	box-shadow: 
		0.05em 0.05em 0.3em var(--ss-blue4),
		inset -0.1em -0.1em 0.3em var(--ss-blue2),
		inset  0.02em 0.02em 0.2em var(--ss-blue4) !important;
}

.common-box-shadow {
	box-shadow: var(--ss-box-shadow-1);
}

.bevel_yolk {
	box-shadow:
		var(--ss-box-shadow-1),
		var(--ss-btn-dark-bevel) var(--ss-yolk2),
		var(--ss-btn-light-bevel) var(--ss-yolk0) !important;
}

.bevel_yolk.selected, .bevel_yolk:active {
	box-shadow: 
		0.05em 0.05em 0.3em var(--ss-blue4),
		inset -0.1em -0.1em 0.3em var(--ss-yolk0),
		inset 0.1em 0.1em 0.3em var(--ss-yolk2) !important;
}

.bevel_red {
	box-shadow: 
		var(--ss-box-shadow-1),
		var(--ss-btn-dark-bevel) rgb(111 107 0),
		var(--ss-btn-light-bevel) var(--ss-red0) !important;
}

.bevel_red.selected, .bevel_red:active {
	box-shadow: 
		0.05em 0.05em 0.3em var(--ss-blue4),
		inset -0.1em -0.1em 0.3em var(--ss-red0),
		inset 0.1em 0.1em 0.3em var(--ss-red2) !important;
}

.bevel_green {
    box-shadow: var(--ss-box-shadow-1),
	var(--ss-btn-dark-bevel) rgb(255 223 0 / 31%),
	var(--ss-btn-light-bevel) rgb(255 223 0 / 85%) !important;
}

.bevel_green.selected, .bevel_green:active {
	box-shadow: 
		0.05em 0.05em 0.3em var(--ss-blue4),
		inset -0.1em -0.1em 0.3em var(--ss-green0),
		inset 0.1em 0.1em 0.3em var(--ss-green2) !important;
}
.main-menu-button svg path:nth-child(1) {
	fill: #b0b300 !important;
}
.pause-bg, .popup_lg {
	background: url('https://raw.githubusercontent.com/1nf1n1t3Sm4sh3r/mmTest/main/themes/img/novo_bg2.png') center center no-repeat;
	background-size: cover;
}
#settingsPopup div, #settingsPopup label {
	color: #ffdf00;
}
.account_eggs div {
	background: url('https://raw.githubusercontent.com/1nf1n1t3Sm4sh3r/mmTest/main/themes/img/novo_eggIcon.png') center center no-repeat !important;
	background-size: cover !important;
	margin-right: 3px;
}

.egg_icon {
	height: 1.6em;
	margin: var(--ss-space-micro) var(--ss-space-sm) 0 0;
	visibility: hidden;
}
.ss_field {
	border-radius: var(--ss-space-sm);
	border: var(--ss-common-border-width) solid var(--ss-blue4);
	margin: 0 0 var(--ss-space-md) 0;
	padding: var(--ss-space-sm) var(--ss-space-md);
	box-shadow: inset -0.3em .3em .03em rgb(255 220 1 / 64%), 0.2em 0.2em .01em var(--ss-blue3);
	background: var(--ss-white);
	color: var(--ss-blue3);
	font-weight: bold;
	min-height: 2.45em;
}
#best_streak_container h1 {
	margin: 0; padding: 0;
	display: inline;

	text-shadow: var(--ss-space-micro) var(--ss-space-micro) var(--ss-shadow);

	font-family: 'Nunito', sans-serif !important;
	font-size: 2.5em !important;
	color: var(--ss-white) !important;
	font-weight: bold !important;
	text-transform: lowercase;

	padding-left: 1.3em;
	padding-top: 0em;

	background-image: url('https://raw.githubusercontent.com/1nf1n1t3Sm4sh3r/mmTest/main/themes/img/novo_eggIcon.png');
    background-position: left center;
	background-size: contain;
    background-repeat: no-repeat;
}
#inGameUI, .chat-wrapper {
	background: #48484866 !important;
}
.home-screen-logo, #logo-svg {
  content: url('https://raw.githubusercontent.com/1nf1n1t3Sm4sh3r/mmTest/main/themes/img/novo_logo.svg') !important;
}
.twitch-drops-img {
	visibility: hidden;
}
#play_game .grid-span-column-all .text_blue3 {
	border: 1px solid black;
	border-radius: 5px;
	background: #ecff003d;
}
.stat-wrapper .stat:nth-child(even) > div {
	background-color: #454545;
}
#limited-un-vaulted h4 {
	color: black !important;
}
#maskmiddle {
	background: url('https://raw.githubusercontent.com/1nf1n1t3Sm4sh3r/mmTest/main/themes/img/novo_scope.png') center center no-repeat;
	background-size: contain;
	width: 100vh;
	height: 100vh;
}

.crosshair {
	position: absolute;
	transform-origin: 50% top;
	top: 50%;
	border: solid 0.05em black;
	height: 0.8em;
	margin-bottom: 0.12em;
	opacity: 0.7;
}

.crosshair.normal {
	left: calc(50% - 0.15em);
	background: linear-gradient(black, yellow);
	width: 0.3em;
}
#healthContainer {
	position: absolute;
	left: 50%; bottom: 1em;
	transform: translateX(-50%);
	display: inline-block;
	width: 6em; height: 6em;
	background: var(--ss-blueshadow);
	border-radius: 50%;
	text-align: center;
	overflow: visible !important;
}

#health {
}

#healthHp {
	font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: var(--ss-white);
    font-size: 1.3em;
    transform: translateY(-3.2em);
}

.healthBar {
	transform-origin: center;
	transform: rotate(90deg);
	fill: transparent;
	stroke: #9c9c9cb3;
	stroke-width: 1em;
	stroke-dasharray: 14.4513em;
	transition: all 0.3s ease-in-out;
}

.healthYolk {
	fill: #af9500;
}
.playerSlot-them-blue {
	background: #001a53 center center no-repeat !important;
	background-size: cover !important;
}
.playerSlot-them-red {
	background: #530000 center center no-repeat !important;
	background-size: cover !important;
}
.footer-nav button, .footer-nav {
	color: yellow !important
}
.text_blue3 {
	color: white !important;
}
#deathBox::before {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    content: "You got fired by" !important;
}
#deathBox h3 {
    display: none !important;
}
#killBox::before {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    content: "You fired" !important;
}
#killBox h3 {
    display: none !important;
}
#killBox::after {
	content: url('https://raw.githubusercontent.com/1nf1n1t3Sm4sh3r/mmTest/main/themes/img/novo_jackhammer.gif') !important;
	width: 100px !important;
	height: 100px !important;
}
.main-menu-button {
	color: black;
	text-shadow: 0 0 8px yellow !important;
}
.vip-egg {
	content: url('https://raw.githubusercontent.com/1nf1n1t3Sm4sh3r/mmTest/main/themes/img/novo_eggIcon.png') !important;
	width: 25px;
	height: 25px;
}