/* Social Icons */
.social_icons .fa-steam-symbol,
.social_icons .fa-steam,
.social_icons .fa-instagram {
	background-clip: text !important; 
	-webkit-background-clip: text !important; 
	-webkit-text-fill-color: transparent; 
}

.social_icons .icon-wrap .fa-facebook {
	 color: rgb(24, 119, 242) !important;
}

.social_icons .icon-wrap .fa-twitter {
	 color: black !important;
}

.social_icons .icon-wrap .fa-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social_icons .icon-wrap .fa-tiktok {
	 color: black !important;
}

.social_icons .icon-wrap .fa-discord {
	 color: rgb(85, 57, 204) !important;
}

.social_icons .icon-wrap .fa-steam-symbol,
.social_icons .icon-wrap .fa-steam {
	background:linear-gradient(0deg, #3E85B3, #131D2D);
}

.social_icons .icon-wrap .fa-envelope-open-text {
	 color: var(--ss-blue5) !important;
}

.social_icons .icon-wrap .fa-twitch {
	 color: var(--ss-twitch) !important;
}

/* News Tabs */
#news-tab i {
	opacity: 0.7;
	color: var(--ss-yolk);
}

#news-tab:hover i,
#news-tab.selected i {
	opacity: 1;
}

#twitch-tab i {
	opacity: 0.7;
	color: var(--ss-twitch);
}

#twitch-tab:hover i,
#twitch-tab.selected i {
	opacity: 1;
}

#video-tab i {
	opacity: 0.7;
	color: red;
} 

#video-tab:hover i,
#video-tab.selected i {
	opacity: 1;
}

/* Item SVG Icons (Sorta Look Trash) */
/* 
#ico-primary path,
#ico-weapon-soldier path {
	fill: #143675 !important;
}

#ico-weapon-scrambler path {
	fill: #8D3B16;
}

#ico-weapon-ranger path {
	fill: #59B334;
}

#ico-weapon-rpegg path {
	fill: #6BD740;
}

#ico-weapon-whipper path {
	fill: #2E1159;
}

#ico-weapon-crackshot path {
	fill: #5ABFD6;
}

#ico-secondary path,
#ico-weapon-trihard path {
	fill: #A92429 !important;
}

#ico-grenade path {
	fill: #29301B;
}

#ico-melee path {
	fill: #7F7F80 !important;
}

#ico-hat path {
	fill: black !important;
}
*/

/* These were meh */
/*
@keyframes rainbowIconColor
{
	100%, 
	00% { color: rgb(255,000,000); }
	08% { color: rgb(255,127,000); }
	16% { color: rgb(255,255,000); }
	25% { color: rgb(127,255,000); }
	33% { color: rgb(000,255,000); }
	41% { color: rgb(000,255,127); }
	50% { color: rgb(000,255,255); }
	58% { color: rgb(000,127,255); }
	66% { color: rgb(000,000,255); }
	75% { color: rgb(127,000,255); }
	83% { color: rgb(255,000,255); }
	91% { color: rgb(255,000,127); }
}

#mod_button.selected i {
	animation: rainbowIconColor 10s linear 1s infinite;
	color: rainbowIconColor !important;
}

.ss_bigtab.settingstab.selected i {
	animation: rotating 2s linear infinite, rainbowIconColor 10s linear 1s infinite;
	color: rainbowIconColor !important; 
}
*/

/* New UI */
#challenges-tab i {
	opacity: 0.7;
	color: gold;
}

#challenges-tab:hover i,
#challenges-tab.selected i {
	opacity: 1;
}
