/* Round UI */ 
.btn_dropdown,
.btn_game_mode
{ border-radius: var(--ss-space-md) !important; }

.ytube-item img,
.ss_keybind,
.ss_section,
.ss_select,
.ss_field,
.roundme_sm,
.ss_button.pause-screen-ui,
.ss_button.btn_vip,
.house-ad-img,
.splash_ad_image,
.ss_button.btn_md,
.ss_button_join,
.playerSlot div,
#goldChickenPopup img,
.roundme_md { border-radius: var(--ss-space-lg) !important; }

.ss_button:not(.roundme_lg, .pause-screen-btn-spectate),
.checkmark { border-radius: calc(var(--ss-space-lg) * 0.7); }

#profileScreen .profile-page-content .display-grid.bg_blue3,
.media-tab-container {
	 border-top-left-radius: calc(var(--ss-space-lg) * 0.8);
	 border-top-right-radius: calc(var(--ss-space-lg) * 0.8);
}

.stat.display-grid .ss_marginright_sm {
	 border-top-right-radius: calc(var(--ss-space-lg) * 0.8);
	 border-bottom-right-radius: calc(var(--ss-space-lg) * 0.8);
}

.stat.display-grid .roundme_sm_top-bottom_right {
	border-top-left-radius: calc(var(--ss-space-lg) * 0.8);
	border-bottom-left-radius: calc(var(--ss-space-lg) * 0.8);
}

#yTube-scroll, #news_scroll, #stream_scroll,
.single-egg-store-item-is-item .display-grid {
	border-bottom-left-radius: calc(var(--ss-space-lg)) !important;
	border-bottom-right-radius: calc(var(--ss-space-lg)) !important;
}

.single-egg-store-item-is-bundle .single-egg-store-header {
	border-top-right-radius: calc(var(--ss-space-lg) * 0.7);
}

.btn_vip {
	padding-left: .2em;
	padding-right: .2em;
}

#themeDesc,
#skyboxPreview,
.table-div,
.egg-color-select {
	border-radius: var(--ss-space-lg) !important; 
}

/* New UI */
.player-challenges-container {
	border-bottom-left-radius: calc(var(--ss-space-lg)   * 0.8) !important;
	border-bottom-right-radius: calc(var(--ss-space-lg) * 0.8) !important;
}

.megamod-popup tbody tr:last-child td:first-child {
	border-bottom-left-radius: var(--ss-space-lg) !important;
}

.megamod-popup tbody tr:last-child td:last-child {
	border-bottom-right-radius: var(--ss-space-lg) !important;
}

.megamod-popup th:first-child {
	border-top-left-radius: calc(var(--ss-space-lg) * 0.8) !important;
}

.megamod-popup th:last-child {
	border-top-right-radius: calc(var(--ss-space-lg) * 0.8) !important;
}

#skyboxPreview img:nth-child(2) {
	border-top-left-radius: var(--ss-space-lg) !important;
	border-bottom-left-radius: var(--ss-space-lg) !important;
}
#skyboxPreview img:nth-child(5) {
	border-top-right-radius: var(--ss-space-lg) !important;
	border-bottom-right-radius: var(--ss-space-lg) !important;
}
#skyboxPreview img:nth-child(1) {
	border-top-left-radius: var(--ss-space-lg) !important;
	border-top-right-radius: var(--ss-space-lg) !important;
}
#skyboxPreview img:nth-child(6) {
	border-bottom-left-radius: var(--ss-space-lg) !important;
	border-bottom-right-radius: var(--ss-space-lg) !important;
}