.game-screen:not(.is-paused) #chatOut {
    scrollbar-width: none;
}

.game-screen:not(.is-paused) #chatOut {
    width: 35em;
    overflow-y: auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* ensures newest messages stay visible */
    border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

/* Ensures input stays at the bottom */
.game-screen:not(.is-paused) #chatIn {
    flex-shrink: 0;
}